<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    {% block pagename %}
    <h1>Магазин игр</h1>
    {% endblock %}
    {% block menu %}
    <nav>
    <ui>
        <li><a href="/">Главная</a></li>
        <li><a href="/shop/">Магазин</a></li>
        <li><a href="/cart/">Корзина</a></li>
    </ui>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
