{% extends 'fourth_task/menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
</head>
<body>
    {% block pagename %}
    <h1>Магазин</h1>
    {% endblock %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
    {% block content %} 
    <ul>
        {% for game in games %}
            <li>{{ game }} <button>Купить</button></li>
        {% endfor %}
    </ul>
    <button onclick="location.href='/'">Назад на главную</button>
    {% endblock %}
</body>
</html>
